.outermost{
    background-image: url("../images/bg-main2.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Architects Daughter", cursive;
    padding: 1rem;
}


/* .inner{
    background-color: rgba(248, 245, 245, 0.849);
    height: 50%;
    width: 30%;
    border-bottom: 10%;
} */

.container {
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
    background: #f1f5f8;
    background-image: radial-gradient(#009BE5 5.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .heading h1 {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #FEC600;
    font-size: 1.5rem;
  }
  
  .form input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.3rem;
    /* border: solid 3px transparent; */
    border-bottom: dashed 3px #FEC600;
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
    width: 70%;
    margin-bottom: 20px;
  }

  .form input:focus{
    outline: none;
  }
  
.form img{
    padding-left: 5px;
}
  
  li {
    text-align: left;
    position: relative;
    padding: 0.5rem;
  }
  